body{
    font-family: "PT Serif", serif;
    background: black;
    color:blue;
    margin: 0px;
    margin-bottom: 100px;
}
.chamada{
    background: blue;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
header{
 color: darkslateblue;
 font-size: 35px;
 border-bottom: 3px solid ;
 padding: 20px;
}
.chamada-texto{
    margin-right; 5%;
}
h1{
    font-size: 36px;
}
